@import url(https://fonts.google.com/specimen/Poppins);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
:root{
    --whiteColor : #ffffff;
    --fontSize : 13px;
    --colorPrimary : #24282b;
    --margin : -100px;
    --font-weight: bold;
    --dimColor : #0b0b0b7d;
    --littleWhite : #e8e8e83b;
}
body{
    transition: all 0.5s ease;
}
::placeholder{
    word-spacing: 4px;
    letter-spacing: 1px;
}
.loadingControl{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    padding: 2px;
    background: linear-gradient(to right, blue,orangered,green,orange,red,aqua, blue,orangered,green,orange,red,aqua, blue,orangered,green,orange,red,aqua);
    transition: 2s;
    z-index: 150;
    transform: scaleX(0);
    transform-origin: 0 0;
}
#navigation{
    position: relative;
    left: 0;
    top: 0;
    transition: top 0.8s;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--colorPrimary);
    padding: 12px 60px;
    z-index: 10;
}
.hamburgerContainer{
    display: none;
}
.line{
    margin: 4px 0px;
    padding: 1px;
    width: 27px;
    height: 3px;
    background-color: white;
    border: none;
    border-radius: 1px;
    transition: all 0.5s ease;
}
.logo{
    height: 90px;
    width: 90px;
    margin-left: var(--margin);
}
.listItems{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 28%;
}
ul li{
    list-style-type: none;
    position: relative;
}
ul li a{
    color: var(--whiteColor);
    text-decoration: none;
    font-size: var(--fontSize);
    font-weight: var(--font-weight);
    z-index: -1;
}
.mainListItems::before{
    content: "";
    position: absolute;
    left: -2px;
    top: 23px;
    background-color: white;
    padding: 1px;
    height: 2px;
    width: 100%;
    z-index: 10;
    transform: scale(0);
    transition-duration: 0.5s;
    transform-origin: 0 0;
    border-radius: 5px;
}
.mainListItems:hover::before{
    transform: scale(1);
}
.underListContainer{
    background-color: var(--colorPrimary);
    position: absolute;
    top: 100%;
    left: -2px;
    transition: all 0.25s ease;
    height: 140px;
    text-align: left;
    width: 200px;
    z-index: -1;
    padding: 20px;
    border-radius: 5px;
    transform: translateY(20px);
}
#menList{
    opacity: 0;
}
#womenList{
    opacity: 0;
}
.underListUnderContainer{
    position: relative;
    left: 0;
    top: 20px;
}
.underListUnderContainer li{
    margin: 5px 0px;
}
.underListUnderContainer li a{
    color: gray;
}
.underListUnderContainer li a:hover{
    color: white;
}
.underList{
    font-size: var(--fontSize);
    padding: 5px;
}
.dropDownWithName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110%;
}  
.dropIcons{
    width: 40px;
    position: absolute;
    left: 46%;
    top: 2px;
}
#dropDownMen{
    opacity: 0;
}
#dropUpMen{
    opacity: 1;
}
.navDropicons{
    transform: rotate(90deg);
    position: absolute;
    top: 0;
    left: 19px;
}
.dropIconsInWomen{
    left: 70%;
}
#dropDownWomen{
    opacity: 0;
}
#dropUpWomen{
    opacity: 1;
}
.search_shippinCart_icons{
    padding: 3px;
    margin: 0px 3px;
    cursor: pointer;
    height: 30px;
}
.shoppinCartButtonAndredIndicator:hover{
    animation: search_shippinCart_iconsAni 0.8s;
}
@keyframes search_shippinCart_iconsAni {
    from{transform: scale(0.8);}
    to{transform: scale(1);}
}
.navRightContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: var(--margin);
}
.shoppinCartButtonAndredIndicator{
    position: relative;
}
.numberOfCartItem{
    position: absolute;
    left: 27px;
    top: -3px;
    background-color: #da3f3f;
    font-size: 15px;
    color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navRightUnderContainer{
    display: flex;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: start;
    padding: 60px;
    background-color: var(--littleWhite);
}
.footerElements{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transform: translateY(100px);
}
.footer :nth-child(2){
    transition-delay: 0.1s;
}
.footer :nth-child(3){
    transition-delay: 0.2s;
}
.footer :nth-child(4){
    transition-delay: 0.3s;
}
.emailInputIconAndArrowButtonContainer{  
    background-color: transparent;
    border: 1px solid gray;
    position: relative;
    width: 100%;
    border-radius: 4px;
    margin: 25px 0px;
}
.emailInputIconAndArrowButtonContainer img{
    height: 20px;
    width: 20px;
    margin-top: 0px;
    position: relative;
    top: 5px;
    margin: 0px 8px;
}
.emailInputIconAndArrowButtonContainer input{
    width: 63%;
    font-size: 12px;
    border: none;
    outline: none;
}
.emailInputIconAndArrowButtonContainer button{
    width: 17%;
    padding: 4px;
    background: black;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 4px;
}
.footrHeadquater img{
    height: 20px;
    width: 20px;
}
.houseAndAddress{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    width: 100%;
}
.footer li{
    margin: 10px 0px;
}
.footer li a{
    color: gray;
}
.footer li a:hover{
    color: black;
    font-weight: bold;
}
.registerSection{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(41, 41, 41, 0.187);
    z-index: 101;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    transform: scale(0);
}
.contactHeading{
    margin: 10px 0px;
    letter-spacing: 1px;
    font-size: 20px;
}
.registerForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    width: 45%;
}
.registerForm input{
    border: 1px solid black;
    width: 100%;
    color: black;
    border-radius: 4px;
    margin: 10px 0px;
    padding: 10px;
    outline: none;
    font-size: 13px;
    background-color: transparent;
}
.contactButtons{
    padding: 10px;
    border: 1px solid black;
    width: 100%;
    color: black;
    border-radius: 4px;
    outline: none;
    font-size: 13px;
    margin: 10px 0px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: transparent;
}
.contactButtons:hover{
    box-shadow: 0px 0px 0px 2px black;
    background-color: black;
    color: white;
    border: none;
}
.registerForm ::placeholder{
    color: black;
}
.registerButton{
    cursor: pointer;
}
.registerForm span{
    position: absolute;
}
.mailIcon{
    right: 6%;
    top: 25%;
}
.eyeIcon{
    position: absolute;
    right: 6%;
    top: 63%;
}
#hideEyeIcon{
    display: none;
}
#loginForm{
    position: relative;
}
#loginPassword {
    width: 225px;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    outline: none;
    font-size: 12px;
    background-color: transparent;
}
.loginIcons{
    position: absolute;
    right: 2%;
    bottom: 4%;
}
#closeLoginEyeIcon{
    display: none;
}
.shoppingHeadingInCart{
    margin: 20px 20px 0px 20px;
    font-size: 19px;
    font-weight: bold;
}
.shoppingCartProductContainer{
    height: 52%;
    width: 100%;
    padding: 20px;
    overflow-y: auto;
    transition: all 0.3s ease;
}
.shoppingCartFooter{
    height: 48%;
    width: 100%;
    padding: 20px;
    background-color: var(--littleWhite);
}
.shippingNoteAndCouponIconsContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.headingAndIconInFooterOfCart{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.headingAndIconInFooterOfCart h3{
    margin-top: 10px;
    font-size: 13px;
}
.headingAndIconInFooterOfCart img{
    height: 25px;
    width: 25px;
}
.totalHeadingAndPriceContainerInFooterOfCart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.totalPriceInFooter{
    font-size: 17px;
    font-weight: 100;
}
.letterSpacing{
    letter-spacing: 2px;
}
.checkOutButtonInFooter{
    text-align: center;
    padding: 10px;
    font-size: 17px;
    border: none;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    margin: 10px 0px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}
.checkOutButtonAndViewCartLinkContainerInFooter{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
.viewCartLink{
    color: black;
}
.viewCartLink:hover{
    color: gray;
}
.shoppingCartProduct{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 50px 0px;
    padding: 10px 0px;
    transition: all 0.3s ease;
}
.shoppingCartProduct img{
    width: 10%;
}
.rightSideOfCartList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 20%;
    margin-left: 10px;
}
.quantityAndDeleteButtonInCart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-top: 10px;
}
.item_name{
    margin-bottom: 10px;
    letter-spacing: 0.7px;
}
.quantityAndDeleteButtonInCart img{
    width: 20%;
}
.quantityAndDeleteButtonInCart button{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
    outline: none;
    padding: 3px;
    cursor: pointer;
    background-color: black;
    color: white;
}
.rightSideOfShoppingCartProduct{
    width: 60%;
}
.selectionNumberOfProductsInCartSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.numberChangingButtonInCart{
    font-size: 14px;
    width: 35px;
    margin: 5px 0px;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 2px;
    background-color: var(--littleWhite);
    cursor: pointer;
    padding: 6px;
}
.numberChangingButtonInCart:focus{
    background-color: black;
    color: white;
}
.sizeHeadingInCartSection{
    font-size: 16px;
    color: gray;
}
.fourthHeading{
    font-size: 15px;
}
.leftSideOfShoppingCartProduct{
    height: 130px;
    width: 100px;
}
.leftSideOfShoppingCartProduct img{
    height: 100%;
    width: 100%;
}
.removeCartProduct{
    text-decoration: underline;
    cursor: pointer;
    color: gray;
    font-size: 12px;
}
.removeCartProduct:hover{
    color: black;
}
.sizeIndicatorOfCartProduct{
    display: flex;
    align-items: center;
    width: 100%;
}
.sizeNumberOfCartProduct{
    font-size: 16px;
    color: gray;
    margin-left: 5px;
}
.modelClose{
    position: absolute;
    top: 2%;
    right: 2%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    transform: rotate(-90deg);
}
.closeIcon{
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 50%;
    font-weight: 100;
    height: 100%;
    width: 100%;

}
.modelClose:hover .closeIcon{
    background-color: black;
    color: white;
}
.modelClose:hover{
    transition: all 0.3s ease;
    box-shadow: 0px 0px 0px 1px black;
    transform: rotate(90deg);
}
.hamburgerItems{
    width: 40%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    transition: all 0.5s ease;
    transform: translateX(-100%);
    z-index: 9;
}
.hamburgerListItems{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 50%;
    color: black;
    margin-top: 60px;
}
.hamburgerListItems li{
    padding: 10px;
}
.hamburgerListItems li a{
    color: black;
}
.hambergurMenWomen{
    overflow: hidden;
}
.hamburgerUndeList{
    background-color: gray;
    transform: translateY(-125px);
}