.modalImagesContainerHavingPadding{
    width: 97%;
}
.quantityAndAddToCartButtonForDisplayFlex{
    width: 60%;
}
.footer{
    padding: 20px;
}
.shoppingCartProduct img{
    width: 50%;
}
.separateImageContainer{
    margin: 20px 0px;
}